---
import Picture from "astro/components/Picture.astro";
import Coach from "../../assets/coach_0.webp";
---

<div
    class="p-5 m-20 md:p-20 container mx-auto w-full flex flex-col items-center h-fit-content bg-[#f9f9f9] pt-20 px-5"
>
    <h1 class="text-3xl md:text-5xl font-bold text-center mb-10">
        Football Coach
    </h1>
    <div class="flex flex-col">
        <div class="w-full aspect-square">
            <Picture
                src={Coach}
                alt={""}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square hover:scale-105"
            />
        </div>

        <div class="mt-4 text-center hover:scale-105">
            <h2 class="text-2xl font-bold text-gray-800">
                {"Ty Prendergast"}
            </h2>
            <h3 class="text-sm text-slate-500">
                {"Certified Coach by "}
                <a
                    href="https://learn.englandfootball.com/courses"
                    class="text-red-500"
                    target="_blank">{"ENGLAND FOOTBALL"}</a
                >
            </h3>
            <h3 class="text-sm text-slate-500"></h3>
            <h3 class="text-sm text-slate-500">
                {"- I2CFA"}
            </h3>
            <h3 class="text-sm text-slate-500">
                {"- IFAIF23"}
            </h3>
            <h3 class="text-sm text-slate-500">
                {"- PLAY PHASE"}
            </h3>
            <h3 class="text-sm text-slate-500">
                {"- FA PLAYMAKER"}
            </h3>
            <h3 class="text-sm text-slate-500">
                {"- EQUALITY AND DIVERSITY"}
            </h3>
        </div>
    </div>
</div>
