---
import PricingCard from "../../components/PricingCard.astro";
import { getLangFromUrl, useTranslations } from "../../i18/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const pricing = [
    {
        name: t("price_0"),
        price: {
            monthly: "800 THB",
            yearly: "39000 THB",
        },
        popular: false,
        features: [
            "1 Training kit",
            "2 Training sessions per week",
            "Each session is 60 to 120 minutes",
        ],
        button: {
            text: "Get Started",
            link: "/",
        },
    },
    {
        name: t("price_1"),
        price: "1000 THB",
        popular: true,
        features: [
            "1 Training kit",
            "2 Training sessions per week",
            "Each session is 60 to 120 minutes",
            "1 Friendly match per month",
        ],
        button: {
            text: "Get Started",
            link: "#",
        },
    },
    {
        name: t("price_2"),
        price: "1500 THB",
        popular: true,
        features: ["1 Training session", "2 hours"],
        button: {
            text: "Contact us",
            link: "/contact",
        },
    },
];
---

<div
    class="p-5 md:p-20 container mx-auto flex flex-col items-center mt-20 bg-[#f9f9f9]"
>
    <h1 class="text-3xl md:text-5xl font-bold text-center mb-10">
        Programs & Pricing
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-12 mt-10">
        {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
</div>
