---
import PricingCard from "../components/PricingCard.astro";

const pricing = [
    {
        name: "Ages for + 3 y.o",
        price: {
            monthly: "3900 THB",
            yearly: "39000 THB",
            // original: "4500 THB",
        },
        popular: false,
        features: [
            "2 Training sessions per week",
            "Each session is 50 to 80 minutes",
        ],
        button: {
            text: "Get Started",
            link: "/",
        },
    },
    {
        name: "Ages for + 12 y.o",
        price: "5900 THB",
        popular: true,
        features: [
            "2 Training sessions per week",
            "Each session is 50 to 80 minutes",
            "1 Friendly match per month",
            "1 Training kit",
        ],
        button: {
            text: "Get Started",
            link: "#",
        },
    },
    {
        name: "Personal Training",
        price: "1500 THB",
        popular: true,
        features: ["1 Training session", "2 hours"],
        button: {
            text: "Contact us",
            link: "/contact",
        },
    },
];
---

<div class="p-20 container mx-auto flex flex-col items-center">
    <h1 class="text-3xl md:text-5xl font-bold text-center mb-10">
        Programs & Pricing
    </h1>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 md:gap-10 mt-10"
    >
        {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
</div>
