---

---

<div
    class="flex flex-col items-center p-5 w-full justify-between lg:flex-row h-fit-content"
>
    <img class="p-5 w-[300px] h-[300px]" src="line_qr.jpeg" alt="line_qr" />
    <img
        class="p-5 w-[300px] h-[300px]"
        src="whatsapp_qr.jpeg"
        alt="whatsapp_qr"
    />
    <!-- <img src="line_qr.jpeg" alt="Image 3" class="w-80 h-80" /> -->
</div>

<script is:inline></script>
