---

---

<main class="flex flex-col items-center text-white h-[calc(100vh-8rem)]">
    <img
        src="football_0.jpg"
        class="absolute top-0 left-0 w-full h-full object-cover z-[-1]"
    />
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-40 z-[-1]">
    </div>
    <h1
        class="mt-20 md:mt-[100px] text-3xl md:text-6xl font-bold mb-4 px-4 text-center hover:text-yellow-600 transition duration-300"
    >
        Welcome to TP Phuket Academy
    </h1>
    <p
        class="mt-10 md:mt-20 text-base md:text-2xl w-11/12 md:w-3/6 text-center px-4 hover:text-yellow-200"
    >
        Welcome to TP Elite Phuket, where passion meets excellence in football
        development. Our academy offers world-class coaching, cutting-edge
        training facilities, and a proven path for players of all levels to
        improve their skills, fitness, and understanding of the game. Join us
        and take the first step toward reaching your footballing potential!
    </p>
</main>
