---
import Tick from "./Tick.astro";

const { plan } = Astro.props;
---

<div>
    <div
        class="flex flex-col justify-between w-full order-first lg:order-none border-2 border-black border-opacity-50 py-5 px-6 rounded-md h-full hover:scale-105 hover:bg-yellow-400 transition duration-300"
    >
        <div class="text-center">
            <h4 class="text-lg font-medium text-gray-700">{plan.name}</h4>
            <p class="mt-0 text-4xl font-bold text-gray-800 md:text-4xl">
                {
                    plan.price && typeof plan.price === "object"
                        ? plan.price.monthly
                        : plan.price
                }
            </p>
            {
                plan.price.original && (
                    <p class="mt-1 text-xl font-medium text-gray-400 line-through md:text-2xl">
                        {plan.price.original}
                    </p>
                )
            }
        </div>
        <ul class="grid mt-8 text-left gap-y-4">
            {
                plan.features.map((item) => (
                    <li class="flex items-start gap-3 text-gray-800">
                        <Tick class="w-6 h-6" />
                        <span>{item}</span>
                    </li>
                ))
            }
        </ul>
        <div
            class="mt-10 px-6 py-3 bg-gray-700 rounded-md hover:bg-black transition duration-300"
        >
            <a href={"#contact"}>
                <p
                    class="text-center
                    font-bold
                    text-white
                    hover:text-yellow-500
                    transition
                    duration-300"
                >
                    Join Us
                </p>
            </a>
        </div>
    </div>
</div>
