---
const { class: className, id } = Astro.props;
---

<section
    id={id}
    data-section={id}
    class={`section ${className} scroll-m-30 bg-[#F9FAFB] w-full h-[100vh]`}
>
    <slot />
</section>
